@media screen and (max-width:600px) {
    nav{
        flex-direction: column;
    }
    .nav-section-1 #menu-icon {
        visibility: visible;
    }
    .Title-section {
        font-size: 34px;

    }
    .nav-section-1 img {
        width: 35px;
        height: 40px;
        flex-shrink: 0;

    }
    .nav-section-2 {
        visibility: hidden;
    }
    .nav-section-3 h1 {
        font-size: 22px;
        padding-top: 20px;
        padding-bottom: 10px;

    }
    .nav-section-3 p {
        font-size: 14px;
    }
    
}